<%- include('../layouts/main', { title: title, body: ` <h1>Daftar Produk</h1>

    <ul>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama Produk</th>
                    <th>Harga</th>
                    <th>Kategori</th>
                    <th>Stok</th>
                    <th>Deskripsi</th>
                </tr>
            </thead>
        
        <tbody>
            ${products
            .map(product => `
            <tr>
                <td>${product.nama_produk}</td>
                <td>Rp. ${product.harga.toLocaleString('id-ID')}</td>
                <td>${product.kategori}</td>
                <td>${product.stok}</td>
                <td>${product.deskripsi}</td>
            </tr>`)
            .join('')
            }
        </tbody>
        </table>
        ` }) %>